<%- include("partials/header") %>

  <main id="presentation">

    <section id="presentation-container">
      <div class="section__pic-container">
        
      </div>

      <div class="section__text-container">
        <h1 class="section__title">Votre spécialiste Haucloquois du café</h1>
        <p class="section__text__p">
          oCoffee est un détaillant de café et de produits associés à la consommation du café basé dans la ville de Hauts-de-Cloques. Nous importons nos produits directement des producteurs, et nous les sélectionnons selon des critères exigeants de qualité. oCoffee est reconnu à l’échelle départementale.
        </p>
        <div class="btn">
          <button 
            class="btn-container btn-catalogue" 
            onclick="location.href='/catalog'"
          >
            Voir le catalogue
          </button>
        </div>
      </div>
    </section>

    <section id="new-arrivals-container">
      <h1 class="new-arrivals__title">Nouveautés</h1>

      <% if (latestCoffeeArticles.length > 0) { %>
        <div class="new-arrivals__details">
          <% latestCoffeeArticles.forEach((coffee, index) => { %>
            <div class="new-arrivals__item">
              <img 
                src="/images/coffees/<%= coffee.reference %>.png" 
                alt="<%= coffee.name %>"
              >
              <h2 class="new-arrivals__name"><%= coffee.name %></h2>
              <p class="new-arrivals__text"><%= coffee.description %></p>
                <a 
                  href="/article/<%= coffee.id %>" 
                  class="btn-container btn-new-arrivals"
                >
                  Découvrir
                </a>
            </div>
          <% }) %>
        </div>
      <% } else { %>
        <p>Aucun article disponible pour le moment.</p>
      <% } %>
    </section>
  </main>

<%- include('partials/footer') %>